<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Connection>
    <Parameter key="Data Source">trendsdb01\\desenv2</Parameter>
    <Parameter key="Database">pubs</Parameter>
    <Parameter key="User ID">sagresadm</Parameter>
    <Parameter key="Password">sagresadm</Parameter>
  </Connection>
</configuration>